h1 {
    padding: 2px;
    text-align: center;
    color:#6d9eed;
}
h2 {text-align: center;
    color:#9a12da;
}

h3{
  padding: 3px 3px 3px 0px;
}

/* for the cover page */
#cover{
  padding:5px;
  font-family:cursive;
  text-align: center;
}

#pre{
  text-align: center;
  color:#63048f;
}

/* for putting some contents in center */
.center2{
  display:block;
  margin-left: auto;
  margin-right:auto;
  width:80%;
  height: auto;
}

/* for the print button */
#btnPrint{
  float:right;
  margin-top: 20px;
  padding: 10px 20px;
  border:#f6f6f6
}

/* for the drop down menu */
.dropbtn {
    color: black;
    margin-top:10px;
    font-size: 25px;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover, .dropbtn:focus {
    background-color: #16cef7;
  }
  #btnPrint:hover, #btnPrint:focus{
    background-color: #16cef7;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #16cef7;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .show {display:block;}

  .fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 67px;
    z-index: 9999;
    width: 94%;
    height: 0px;
    background-color: white;
  }
