{% extends 'admin_page.html' %}
{% load static %}
  {% block content %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'C_User.css' %}"> <!-- stylesheet for create user page -->
        <link rel="stylesheet" href="{% static 'A_notification.css' %}">

        <div class="container" style="padding-top:500px;">
          <div class="">
            <div class="">

            </div>
          </div>
          <div class="row">
              <div class="col-8">
                <h1>1</h1>
              </div>
              <div class="col">
                <h1>2</h1>
              </div>
            </div>
        </div>



  {% endblock %}
