{% extends 'admin_page.html' %}
{% load static %}
  {% block content %}
        <link rel="stylesheet" href="{% static 'C_User.css' %}"> <!-- stylesheet for create user page -->
        <!-- user creation form -->
        <form class="modal-content" action="Create_user" method="POST">
          {% csrf_token %}
          <div class="container">
            <h1>Create User</h1>
            <hr id="hr1">

            <input type="text" placeholder="Enter Name" name="Name" required>
            <input type="text" placeholder="Enter Id" name="Id" required>
            <input type="email" placeholder="Enter user email" id="email_input" name="Email" required>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <input type="text" autocomplete="off" list="browsers" placeholder="Enter user role" name="Role" required>
            <datalist id="browsers">
              {% for i in roles %}
              <option value="{{ i.role }}">
              {% endfor %}
            </datalist>
            <p></p>

            <div>
              <button type="submit" class="gbtn">Create</button>
            </div>
            <div>
              {% for message in messages %}
              <p style="font-family: Lucida Console, Courier New, monospace;"> {{message}}</p>
              {% endfor %}
            </div>
          </div>
        </form>
  {% endblock %}
