{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
    <style media="screen">
      #pic2{
        float: left;
        margin-left: 170px;
        margin-right: 50px;
        padding-left:20px;
        height:60px;
        width:auto;
      }
    </style>
</head>
<body style="background-image:url({% static 'background.jpg' %}); background-size:cover; background-position:0% -4%; background-repeat:no-repeat; height:100%;">
    <div class="icon-bar">
        <img id="pic2" src="{% static 'Million-Dollar-Logo.jpg' %}" alt="Plan international logo" width="60" height="60">
        <a class="active" href="e_page"><button id="A-btn">Home </button></a>
        <a href="{% static '#' %}"><button id="A-btn">Message </button></a>
        <a href="E_notification"><button id="A-btn">Notification </button></a>
        <a href="e_files"><button id="A-btn">Files</button></a>
        <a href="{% static '#' %}"><button id="A-btn">Profile </button></a>
        <a href="logout_user"><button id="A-btn">Log-Out </button></a>
    </div>
    {% block content %}
    {%
      <h2 style="float:right;  padding-top:50px; padding-right:20px;">Weclome, {{ xy }}</h1>
    %}


    <link rel="stylesheet" href="{% static 'admin_page.css' %}"> <!-- stylesheet for admin home page -->

     <h1 id="cname">Plan International</h1>
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search" >
        </form>
      </div>

      <div class="flex-container">
        <div class="flex-child total_user">
          <h1>Total users: {{ tu }} </h1>
        </div>

        <div class="flex-child total_group">
          <h1>Total groups: {{ tg }} </h1>
       </div>
      </div>

      {% endblock %}

      <div class="footer">
        <p>Contact: <br>
            +0099809742 <br>
            example.mail@plani.org
      </div>
</body>
</html>
